<!-- 타임리프의 deCoupled 로직 적용해보기.
 여기 파일을 다 HTML 로만 구성
    th:replace 들을 다 삭제
    -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>게시판 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</head>
<body>
    <header id="header"></header>

    <main>
        <form action="#">
            <label for="search-type" hidden>유형</label>
            <select id="search-type" name="search-type">
                <option value="">제목</option>
                <option value="">본문</option>
                <option value="">id</option>
                <option value="">닉네임</option>
                <option value="">해시태그</option>
            </select>

            <label for="search-value" hidden>검색어</label>
            <input type="search" placeholder="검색어를 입력하세요" name="search-value" id="search-value">

            <button type="submit">검색</button>
        </form>

        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>해시태그</th>
                <th>작성자</th>
                <th>작성일</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1번글</td>
                <td>#java</td>
                <td>bitstudy</td>
                <td>2023-01-04</td>
            </tr>
            <tr>
                <td>2번글</td>
                <td>#spring</td>
                <td>bitstudy</td>
                <td>2023-01-03</td>
            </tr>
            <tr>
                <td>3번글</td>
                <td>#mysql</td>
                <td>bitstudy</td>
                <td>2023-01-01</td>
            </tr>
            </tbody>
        </table>

        <!-- 페이지네이션 -->
        <nav>
            <table>
                <tbody>
                <tr>
                    <td>이전</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>다음</td>
                </tr>
                </tbody>
            </table>
        </nav>
    </main>

    <footer id="footer"></footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>